In [1]:
(404,"error")

(404, 'error')

In [2]:
def get_tuple():
    return  (404,"error")

In [5]:
#tuple拆解法

(code,message) = get_tuple()
print(code)
print(message)

404
error

In [6]:
#1個元素的tuple
(404,)

(404,)

In [7]:
list()

[]

In [8]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(('a','b','c',1,2,3))

['a', 'b', 'c', 1, 2, 3]

In [10]:
#符號建立
stu1 = [78,50,90,44,87]
stu1

[78, 50, 90, 44, 87]

In [11]:
for score in stu1:
    print(score)

78
50
90
44
87

In [14]:
enmpy_list = []
weekdays = ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
big_birds = ['emu', 'ostrich', 'cassowary']
first_names = ['Graham', 'John', 'Terry', 'Terry', 'Michael']
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [15]:
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael']

In [17]:
first_names[4]

'Michael'

In [18]:
first_names[5]

IndexError: list index out of range

In [19]:
type(first_names)

list

In [20]:
type(10)

int

In [21]:
type(10.5)

float

In [23]:
type("mary")

str

In [24]:
len(first_names)

5

In [25]:
first_names.append('robert')
first_names

['Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']

In [27]:
first_names.insert(0,"Jack")
first_names

['Jack', 'Graham', 'John', 'Terry', 'Terry', 'Michael', 'robert']

In [3]:
for word in ("Helloworld"):
    print (word)

H
e
l
l
o
w
o
r
l
d

In [4]:
words = list("helloworld")
words

['h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd']

In [7]:
#slice切割
words[0:5]

['h', 'e', 'l', 'l', 'o']

In [11]:
words[-5:-1]

['w', 'o', 'r', 'l']

In [19]:
words[-1:-5]

[]

In [14]:
words[-5:]

['w', 'o', 'r', 'l', 'd']

In [16]:
words[:5]

['h', 'e', 'l', 'l', 'o']

In [17]:
words[5:]

['w', 'o', 'r', 'l', 'd']

In [29]:
#2維list
nb = ['筆記電腦', '商用筆電']
mobile = ['APPLE', 'ASUS', 'Pixel']
home = [3, '冰箱', 2, '洗衣機']
all3c = [nb, mobile, home]
all3c

[['筆記電腦', '商用筆電'], ['APPLE', 'ASUS', 'Pixel'], [3, '冰箱', 2, '洗衣機']]

In [30]:
print (all3c[0])
print (all3c[1])
print (all3c[2])

['筆記電腦', '商用筆電']
['APPLE', 'ASUS', 'Pixel']
[3, '冰箱', 2, '洗衣機']

In [31]:
print(all3c[0][1])
print(all3c[1][2])
print(all3c[2][3])

商用筆電
Pixel
洗衣機

In [33]:
import random
random.randint(50, 100)
stu1 = list()
for _ in range(5):
    stu1.append(random.randint(50, 100))
stu1

[72, 69, 70, 70, 60]

In [40]:
students = []
for _ in range(50):
    stu = list()
    for _ in range(5):
        stu.append(random.randint(50, 100))
    students.append(stu)
students

[[82, 78, 58, 63, 83],
 [52, 85, 95, 88, 81],
 [91, 73, 79, 55, 93],
 [64, 56, 71, 60, 59],
 [69, 76, 84, 85, 60],
 [57, 63, 55, 72, 70],
 [50, 83, 53, 60, 69],
 [69, 67, 81, 83, 53],
 [100, 88, 68, 89, 98],
 [74, 64, 83, 59, 96],
 [90, 77, 59, 66, 79],
 [80, 94, 61, 63, 59],
 [91, 94, 100, 99, 64],
 [93, 55, 74, 78, 71],
 [70, 55, 67, 82, 85],
 [53, 68, 53, 71, 68],
 [90, 57, 69, 82, 63],
 [62, 87, 50, 78, 67],
 [64, 84, 60, 81, 83],
 [88, 52, 63, 58, 55],
 [54, 53, 51, 83, 72],
 [100, 66, 84, 53, 72],
 [52, 80, 93, 70, 68],
 [100, 73, 55, 68, 57],
 [99, 88, 55, 94, 86],
 [78, 67, 74, 59, 63],
 [92, 66, 90, 56, 90],
 [51, 51, 87, 70, 93],
 [67, 67, 52, 58, 76],
 [78, 84, 91, 91, 71],
 [86, 90, 64, 67, 95],
 [94, 80, 65, 82, 57],
 [76, 98, 90, 94, 81],
 [56, 58, 57, 89, 78],
 [85, 75, 50, 83, 75],
 [92, 73, 82, 86, 75],
 [94, 86, 71, 84, 81],
 [74, 72, 54, 58, 74],
 [90, 65, 84, 55, 94],
 [57, 82, 60, 51, 55],
 [77, 68, 64, 90, 65],
 [90, 52, 69, 75, 99],
 [60, 94, 52, 75, 73],
 [94, 85, 77, 78, 66],
 [67, 63, 52, 89, 62],
 [95, 92, 52, 78, 83],
 [74, 82, 68, 64, 83],
 [63, 88, 66, 80, 74],
 [95, 99, 82, 92, 56],
 [77, 60, 55, 80, 86]]